<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.Alatheer.Projects.lailaky">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".Activites.MyApp"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activites.Splash"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activites.LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activites.Signup"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activites.HomeActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activites.Albumaty"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activites.OfferAlbum"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activites.DetailOffer"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activites.DetailsAlbumaty"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activites.AddImges"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activites.AboutUsActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activites.ContactActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activites.ProfileActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activites.UpdatePasswordActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activites.MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activites.DetailsMyOffer"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activites.UserActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".Activites.MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".Activites.DisplayGalleryActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activites.FramesActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activites.DisplayImagesActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activites.CustomShapeActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activites.FinalAlbumActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activites.HelpActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activites.ChooseLanguage_Activity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activites.Confirm_SignUPActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activites.confirmEmail_ForgetPass"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activites.TypeePaperActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activites.CoverActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activites.Credit"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activites.multi_Choose_Activity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activites.makeCoverActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activites.twopagesActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".Activites.DesiredCoverActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
    </application>

</manifest>